<nav class="w3-sidenav w3-collapse w3-white w3-card-2 w3-animate-left" style="width:220px;">

    <div style="padding-top: 100px">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a style="font-weight: bold; font-size: 15px" class="nav-link " href="/dashboard">
                    <span data-feather="home"></span> Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>

            <hr>

            <li class="nav-item">
                <h5 class="ml-2">Lectures</h5>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/lectures"> Create Lectures </a>
            </li>
           
            <hr>
           <li class="nav-item">
                <h5 class="ml-2">Videos</h5>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/videos"> Create Videos </a>
            </li>
           <hr>

            <li class="nav-item">
                <h5 class="ml-2">Test Section</h5>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/dashboardtest"> Test </a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/enrollstudent"> Enroll Student for Test </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dashboard/testresult"> Test Results </a>
            </li>
            
        </ul>
        </li>
        </ul>
        </li>

        </ul>
    </div>

</nav>